/////////////////////////////////////////////////////////
// Brand                                               //
/////////////////////////////////////////////////////////

// Setup
$logowidth: 120px;
$logoheight: 50px;

.logo {
	display: block;
	@include text-hide();
	background: url(/img/export/brand-big.svg) no-repeat center center;
	background-size: $logowidth $logoheight;
	width: $logowidth;
	height: $logoheight;
}

@media (max-width: 320px)
{
	.logo {
		background-size: 77px 32px;
		width: 77px;
		height: 32px;
	}
}