	
	<footer class="damage-footer">
		<div class="container">
			<div class="pt-30 pb-30 justify-space footer-flex">
				<div class="breadcrumbs fs-7 align-center  footer-desc-display-top">
					<h5 class="footer-description font-weight-400">&copy; {{year}} <a class="footer-color-description" href="#">{{company_name}}</a> Code Test - All rights reserved</h5>
				</div>
				<div>
					<a class="logo-footer" href="/"></a>
				</div>
				<div class="breadcrumbs fs-7 align-center footer-desc-display-bottom">
					<h5 class="footer-description font-weight-400">&copy; {{year}} <a class="footer-color-description" href="#">{{company_name}}</a> Code Test - All rights reserved</h5>
				</div>
			</div>
		</div>
	</footer>

	