	<header class="container">
		<div class="header-container pt-20 d-flex justify-space" id="header-content">
			<div>
				<a class="logo" href="/"></a>
			</div>
			
			<div class="breadcrumbs">
				<p class="fs-7 d-flex align-center font-weight-400">
					<a href="#" class="header-title-text text-style header-menu">Menu Link Again</a>&nbsp;&nbsp;<span class="icon icon-16 icon-divider"></span>&nbsp;&nbsp;
					<a href="#" class="header-title-text text-style header-menu">Menu Link See</a>&nbsp;&nbsp;<span class="icon icon-16 icon-divider"></span>&nbsp;&nbsp;
					<a href="#" class="header-title-text text-style header-menu">Menu Link</a>&nbsp;&nbsp;<span class="icon icon-16 icon-divider"></span>&nbsp;&nbsp;
					<a href="#" class="btn-contact btn header-menu">Contact</a>
					<button class="side-bar-open header-menu" id="side-bar-open" onclick="openNav()"></button>
					<a href="javascript:void(0)" class="side-bar-close" id="side-bar-close" onclick="closeNav()">&times;</a>
				</p>
			</div>
			
			<div id="mySidebar" class="sidebar pt-30">
				<a href="#">Menu Link</a>
				<a href="#">Menu Link Again</a>
				<a href="#">Menu Link See</a>
				<a href="#" class="btn-contact-sidebar btn header-menu">Contact</a>
			</div>
		</div>
	</header>
