	<section class="body-section text-center" id="main-content">
		<div class="row">
			<article class="col-md-12">
				<!-- Intro Section Start -->
				<div>
					<h1 class="mb-10 text-style font-weight-400">We Do Awesome Things</h1>
					<h4 class="mb-10 description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br class="intro-desc-resp-small"> do <br class="intro-desc-resp-big">eiusmod tempor incididunt ut<br class="intro-desc-resp-small"> labore et dolore magna aliqua.</h4>
					<div class="into-image">
						<a class="landing-image"></a>
					</div>
				</div>
				<!-- Intro Section End -->
				<!-- CTA Banner Section Start -->
				<div class="color-bar">
					<div class="pt-30 pb-30 container justify-space CTA-Banner">
						<div>
							<h3 class="white-description font-weight-500">Lorem ipsum dolor sit amet, consectetur adipiscing elit!</h3>
						</div>
						<div>
							<p class="fs-7 CTA-Banner-Button">
								<a href="#" class="btn-call btn">Call Now</a>
							</p>
						</div>
					</div>
				</div>
				<!-- CTA Banner Section End -->
				<!-- Services Section Start -->
				<h1 class="mb-10 text-style service-header font-weight-400">We Do Really Awesome Things</h1>
				<h4 class="description service-description">Lorem ipsum dolor sit amet, <a class="description-link" href="#">link</a> consectetur adipiscing elit, sed<br class="intro-desc-resp-small"> do <br class="intro-desc-resp-big">eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>
				<div class="container service-block-service">
					<div class="col-12 col-md-4 col-sm-12 container service-name">
						<a class="mb-10 docker-image"><span class="notification number notification-number"><h4 class="notify-number font-weight-500">1</h4></span></a>
						<h3 class="mb-10 text-style font-weight-500">Service Name</h3>
						<h5 class="description">Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit, sed do<br>eiusmod tempor incididunt</h5>
					</div>
					<div class="col-12 col-md-4 col-sm-12 container service-name">
						<a class="mb-10 docker-image"><span class="notification number notification-number"><h4 class="notify-number font-weight-500">2</h4></span></a>
						<h3 class="mb-10 text-style font-weight-500">Service Name</h3>
						<h5 class="description">Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit, sed do<br>eiusmod tempor incididunt</h5>
					</div>
					<div class="col-12 col-md-4 col-sm-12 container service-name">
						<a class="mb-10 docker-image"><span class="notification number notification-number"><h4 class="notify-number font-weight-500">3</h4></span></a>
						<h3 class="mb-10 text-style font-weight-500">Service Name</h3>
						<h5 class="description">Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit, sed do<br>eiusmod tempor incididunt</h5>
					</div>
				</div>
				<!-- Services Section End -->
				<!-- Services Testimonial Start -->
				<div class="container">
					<hr class="line-breaker-responsive"/>
						<div class="d-flex speech-section">
							<div>
								<a class="speech-image"></a>
							</div>
							<div class="text-style align-left">
								<h3 class="pb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
								<h6 class="description font-weight-400">Roy Barber - Damage</h6>
							</div>
						</div>
					<hr/>
				</div>
				<!-- Services Testimonial Start -->
				<!-- Contact Start -->
				<h1 class="mb-10 text-style font-weight-400 contact-header">Contact About Awesomeness</h1>
				<h4 class="contact-description description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed<br class="intro-desc-resp-small"> do <br class="intro-desc-resp-big">eiusmod tempor incididunt ut labore et dolore magna aliqua.</h4>

				<form class="container align-left form-section">
					<div class="input-group">
						<label class="text-style">Your name</label>
						<input class="form-input" type="text" placeholder="Please enter your name">
					</div>
					<div class="input-group">
						<label class="text-style">Your Telephone Number</label>
						<input class="form-input" type="text" placeholder="Please enter your telephone number" value="07504" required>
					</div>
					<div class="input-group email-box">
						<label class="text-style">Your Email</label>
						<input type="text" placeholder="Place enter your email" class="error form-input" required>
						<span class="state-message error">Error: Please enter a valid email</span>
					</div>
					<div class="input-group">
						<label class="text-style">Your Message</label>
						<textarea class="form-input text-area" placeholder="Please enter your name"></textarea>
						<span class="helper-message">Please enter as much detail as possible</span>
					</div>
					<div class="input-group">
						<div class="file-input align-right">
							<a href="#" class="btn-call btn">Submit</a>
						</div>
  					</div>
				</form>
				<!-- Contact End -->
			</article>
		</div>
	</section>