//	Font Weight List
.font-weight-400 {
	font-weight: 400;
}
.font-weight-500 {
	font-weight: 500;
}

//	Addional CSS


.align-center {
    align-items: center;
}

.justify-space {
    justify-content: space-between; 
}

.text-style {
	color: #0E2945;
	font-family: 'Roboto';
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

header {
	min-width: 320px;
}

//	Header Menu

.side-bar-button {
	display: none;
}

.header-container {
	padding-top: 20px;
}

.header-title-text {
    font-size: 18px;
}

.btn-contact {
    border-radius: 6px;
    color: #FFFFFF;
    background: #F56A75;
    border: 1px solid;
	font-size: 16px;
	width: 120px;
	height: 50px;
}

@media (max-width: 320px)
{
	.header-container {
		padding-top: 10px;
		position: relative;
		-webkit-transition: right 0.5s; /* Safari prior 6.1 */
		transition: right 0.5s;
	}

	.header-menu {
		display: none;
	}
	
	$sideButtonwidth: 32px!default;
	$sideButtonheight: 32px!default;

	.side-bar-button {
		display: block;
		@include text-hide();
		background: url(/img/export/menu.svg) no-repeat center center;
		background-size: $sideButtonwidth $sideButtonheight;
		width: $sideButtonwidth;
		height: $sideButtonheight;
		padding: 0px;
	}
}

//	Main Body

.body-section {
	margin-top: 100px;
}

@media (max-width: 320px)
{
	.body-section {
		margin-top: 30px;
		position: relative;
		min-width: 320px;
		-webkit-transition: right 0.5s; /* Safari prior 6.1 */
		transition: right 0.5s;
	}
}

//	The intro

.intro-desc-resp-small {
	display: none;
}

.intro-desc-resp-big {
	display: block;
}

.description {
    color: #7B8A97;
}

$landingwidth: 914px!default;
$landingheight: 555px!default;
$landingemblem: 555px!default;

.landing-image {
    margin: auto;
	display: block;
	@include text-hide();
	background: url(/img/export/browser-image-big.svg) no-repeat center center;
	background-size: $landingwidth $landingheight;
	width: $landingwidth;
	height: $landingheight;
}

.into-image {
	margin-top: 100px;
}

@media (max-width: 320px)
{
	.intro-desc-resp-small {
		display: block;
	}
	
	.intro-desc-resp-big {
		display: none;
	}

	.into-image {
		margin-top: 40px;
	}

	.landing-image {
		background: url(/img/export/browser-image-small.svg) no-repeat center center;
		background-size: 300px 182px;
		width: 300px;
		height: 182px;
	}
}

//	The CTA Banner

.CTA-Banner {
	display: flex;
}

.CTA-Banner-Button {
	display: flex;
}

.color-bar {
    background: #F56A75;
}

.white-description {
    color: #FFFFFF;
    font-family: Roboto;
}
.btn-call {
    border-radius: 6px;
    color: #FFFFFF;
    background: #0E3757;
    border: 1px solid #0E3757;
    font-size: 16px;
	width: 120px;
	height: 50px;
}

@media (max-width: 320px)
{
	.CTA-Banner {
		display: block;
	}

	.CTA-Banner-Button {
		display: block;
		margin-top: 20px;
	}

	.btn-call {
		width: 100%;
	}
}

//	Services

.service-header {
	margin-top: 100px;
}

.description-link {
    color: #F56A75;
}

.service-description {
	margin-bottom: 100px;
}

$dockerwidth: 150px!default;
$dockerheight: 150px!default;
$dockeremblem: 150px!default;

.docker-image {
    margin: auto;
	display: block;
	@include text-hide();
	background: url(/img/export/service-badge.svg) no-repeat center center;
	background-size: $dockerwidth $dockerheight;
	width: $dockerwidth;
	height: $dockerheight;
}

.service-name {
    font-weight: 500;
}

.notification-number {
    background: #F56A75;
    border-color: #F56A75;
    left: 55.33%;
    right: 18.67%;
    top: 56.67%;
    bottom: 17.33%;
    width: 39px !important;
    height: 39px !important;
}

.notify-number {
    color: #FFFFFF;
    font-weight: 500;
}

.service-block-service {
	display: flex;
}

.service-name {
	margin-bottom: 100px;
}

@media (max-width: 320px)
{
	.service-header{
		margin-top: 40px;
	}

	.service-description{
		margin-bottom: 30px;
	}

	.service-block-service {
		display: block;
	}

	.service-name {
		margin-bottom: 30px;
	}

	.line-breaker-responsive {
		padding-top: 10px;
	}
}

//	Testimonial

$speechwidth: 49.77px!default;
$speechheight: 32.75px!default;

.speech-image {
    margin-right: 43.23px;
	display: block;
	@include text-hide();
	background: url(/img/export/speach-marks.svg) no-repeat center center;
	background-size: $speechwidth $speechheight;
	width: $speechwidth;
	height: $speechheight;
}

.speech-section {
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

@media (max-width: 320px)
{
	.speech-image {
		margin-right: 18px;
		background: url(/img/export/speech-marks-small.svg) no-repeat center center;
		background-size: 30px 20px;
		width: 30px;
	}

	.speech-section {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}

//	The contact

.contact-header {
	margin-top: 100px;
}

.contact-description {
	padding-bottom: 50px;
}

.form-section {
	width: 580px;
}

.form-input {
	max-width: 580px !important;
}

.text-area {
	height: 202px;
	resize: none;
	padding: 175px 0px 0px 10px;
}

@media (max-width: 320px)
{
	.contact-description {
		padding-bottom: 30px;
	}

	.contact-header {
		margin-top: 40px;
	}

	.form-section {
		width: auto;
	}
	
	.form-input {
		max-width: 290px !important;
	}
	
	.email-box {
		margin-bottom: 10px;
	}
}


//	The footer

$logofooterwidth: 120px!default;
$logofooterheight: 50px!default;


.logo-footer {
	display: block;
	@include text-hide();
	background: url(/img/export/secondary.svg) no-repeat center center;
	background-size: $logofooterwidth $logofooterheight;
	width: $logofooterwidth;
	height: $logofooterheight;
}

.damage-footer {
	height: 100px;
	background-color: #0E3757;
	position: relative;
	min-width: 320px;
}

.footer-description {
	color: #EAEAEA;
}

.footer-color-description {
	color: #F56A75;
}

.footer-flex {
	display: flex;
}

.footer-desc-display-top {
	display: flex;
}

.footer-desc-display-bottom {
	display: none;
}

@media (max-width: 320px)
{
	.damage-footer {
		height: auto;
	}

	.logo-footer {
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
	}

	.footer-flex {
		display: block;
		padding-bottom: 40px;
		justify-content: center;
	}

	.footer-desc-display-top {
		display: none;
	}

	.footer-desc-display-bottom {
		display: block;
	}

	.footer-description {
		text-align: center;
	}
}

//	The sidebar

/* The sidebar menu */
.sidebar {
	height: 100%;
	width: 0; 
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #0E3757;
	overflow-x: hidden;
	transition: 0.5s;
	display: block;
	text-align: center;
}

/* The sidebar open button */
.side-bar-open {
	display: none;
}

@media (max-width: 320px)
{
	$sideButtonwidth: 32px!default;
	$sideButtonheight: 32px!default;

	.side-bar-open {
		display: block;
		@include text-hide();
		background: url(/img/export/menu.svg) no-repeat center center;
		background-size: $sideButtonwidth $sideButtonheight;
		width: $sideButtonwidth;
		height: $sideButtonheight;
		padding: 0px;
	}
}

/* The sidebar close button */
.side-bar-close {
	display: none;
}

@media (max-width: 320px)
{
	$sideButtonwidth: 32px!default;
	$sideButtonheight: 32px!default;

	.side-bar-close {
		@include text-hide();
		background: url(/img/export/exit.svg) no-repeat center center;
		background-size: $sideButtonwidth $sideButtonheight;
		width: $sideButtonwidth;
		height: $sideButtonheight;
		padding: 0px;
	}
}

/* The sidebar links */
.sidebar a {
	margin: 30px 0px;
	font-size: 18px;
	color: #FFFFFF;
	display: block;
	transition: 0.3s;
	min-width: 198px;
}

/* The sidebar contact button */
.btn-contact-sidebar {
	margin: auto !important;
	border-radius: 6px;
	color: #FFFFFF;
	border: 1px solid #F56A75;
	background: #F56A75;
	font-size: 16px;
	width: 198px;
	height: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main-panel {
	transition: margin-right .5s; 
}